.content {
  display: flex;
  flex-direction: column;

  .status {
    margin: 16px 16px 0;
    text-align: center;

    &.success {
      color: green;
    }

    &.error {
      color: darkred;
    }
  }
}

.mat-divider {
  position: initial;
  margin: 16px 0;
}
