<div class="content">
  <mat-form-field>
    <input matInput [(ngModel)]="options.baseUrl" placeholder="Base URL">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="options.apiKey" placeholder="API Key">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="pushOptions()">Save & Test</button>
  <p *ngIf="about" class="status success">Successfully connected to Ombi v{{about.version}} ({{about.branch}})</p>
  <p *ngIf="error" class="status error">{{error}}</p>
</div>
