.log-file-select {
  width: 100%;
  display: flex;
  align-items: center;

  .mat-form-field {
      flex: 1;
  }
}

.mat-list-base {
  padding-top: 0;
}

.status {
  margin: 16px;
  text-align: center;

  &.success {
    color: green;
  }

  &.error {
    color: darkred;
  }
}
