<div class="content">
  <mat-form-field>
    <input matInput [(ngModel)]="options.adminChat" placeholder="Administrator Chat Id">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="options.botToken" placeholder="Bot Token">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="options.publicUrl" placeholder="Public URL">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="options.mediaLocation" placeholder="Media Location">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="pushOptions()">Save & Test</button>
  <p *ngIf="about" class="status success">Successfully connected to Telegram bot {{about.firstName}} (@{{about.username}})</p>
  <p *ngIf="error" class="status error">{{error}}</p>
</div>
