:host {
  display: block;
  width: 100vw;

  .link-label {
    padding: 4px;
  }

  .flex-padding {
    flex: 1;
  }

  .loader {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .page {
    position: relative;
    display: flex;
    padding: 8px;

    .content {
      flex-basis: 600px;
      min-width: 0;

      .menu-button {
        margin: -8px 0 8px -8px;
      }

      & .loading {
        filter: blur(1px);
        pointer-events: none;
      }
    }

    .nav-bar {
      display: block;
      margin-bottom: 16px;

      .nav-link {
        text-decoration: none;

        &.mat-tab-label-active {
          opacity: initial;
        }
      }
    }
  }

  .mat-sidenav-container {
    min-height: 100vh;
    background-color: lightskyblue;

    .mat-sidenav-content {
      background-color: lightskyblue;
      overflow: auto;
    }
  }

  ::ng-deep .mat-tab-links {
    justify-content: space-between;
  }
}
