<mat-sidenav-container *ngIf="onMobile else innerContent" #sidenav>
  <mat-sidenav mode="over" autoFocus="false">

    <mat-action-list role="list">
      <mat-list-item role="listitem" *ngFor="let link of navLinks" [routerLink]="link.path" (click)="sidenav.close()">
        <mat-icon mat-list-icon class="material-icons-outlined">{{link.icon}}</mat-icon>
        <span class="link-label">{{link.label}}</span>
      </mat-list-item>
    </mat-action-list>

  </mat-sidenav>
  <mat-sidenav-content>

    <ng-container *ngTemplateOutlet="innerContent; context: { sidenav: sidenav }"></ng-container>

  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #innerContent let-sidenav="sidenav">

  <div class="page">
    <div class="flex-padding"></div>
    <mat-card class="content" [class.loading]="loading">

      <button *ngIf="onMobile" mat-icon-button class="menu-button" (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>

      <nav *ngIf="!onMobile" mat-tab-nav-bar class="nav-bar">
        <a mat-tab-link class="nav-link"
           *ngFor="let link of navLinks"
           [routerLink]="link.path"
           routerLinkActive #rla="routerLinkActive"
           [routerLinkActiveOptions]="{ exact: true }"
           [active]="rla.isActive">
          <mat-icon mat-list-icon class="material-icons-outlined">{{link.icon}}</mat-icon>
          <span class="link-label">{{link.label}}</span>
        </a>
      </nav>

      <router-outlet></router-outlet>

    </mat-card>
    <mat-spinner *ngIf="loading" class="loader"></mat-spinner>
    <div class="flex-padding"></div>
  </div>

</ng-template>
