:host {
  display: flex;
  margin: 8px;

  .page {
    min-width: 0;

    .content {
      padding-top: 16px;
    }
  }

  .flex-padding {
    flex: 1;
  }

  .loader {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .loading {
    filter: blur(1px);
    pointer-events: none;
  }
}
