<ng-container *ngIf="!error else errorTemplate">

  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let request of requests">
      <mat-icon *ngIf="request.status == RequestStatus.Pending" mat-list-icon color="blue">more_horiz</mat-icon>
      <mat-icon *ngIf="request.status == RequestStatus.Success" mat-list-icon color="green">check</mat-icon>
      <mat-icon *ngIf="request.status == RequestStatus.Error" mat-list-icon color="red">error</mat-icon>
      <mat-icon *ngIf="request.status == RequestStatus.Canceled" mat-list-icon color="gray">cancel</mat-icon>
      <h4 mat-line class="elipsis">"{{request.search}}"</h4>
      <p mat-line>{{request.botUser.userName}}</p>
      <mat-chip-list><mat-chip>{{request.type}}</mat-chip></mat-chip-list>
    </mat-list-item>
  </mat-list>

</ng-container>

<ng-template #errorTemplate>
  <p class="status error">{{error}}</p>
</ng-template>
